.trendingBox {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.trendingBox > .trendingBoxImages {
  flex: 0 0 auto;
  margin-right: 15px;
}

/* .trendingBox::-webkit-scrollbar {
  display: none;
} */
